<ion-app>
    <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
        <ion-header>
          <ion-toolbar color="success">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item (click)="goPage('home')">Inicio</ion-item>
            <ion-item (click)="goPage('people')">Personas</ion-item>
          </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>

    <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button (click)="openCustom()"></ion-menu-button>
            </ion-buttons>
            <ion-title>PhoneBook por <img class="brand" src="assets/images/logotipo.png" alt=""></ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <router-outlet></router-outlet>
        </ion-content>
    </div>
</ion-app>